{% extends 'base.jinja2' %}
{% block title %}{{ _('Cart') }}{% endblock %}

{% block content %}
    {% if not cart_items %}
        <div class="text-center">
            <br>
            <h1 class="text-center product_title">
                {{ _('Your cart is empty') }}
            </h1>
            <br>
            <p class="text-center">
                {{ _('Click') }} <a href="{{ url('home') }}">{{ _('here') }}</a> {{ _('to go back to products')}}
            </p>
        </div>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="container col-lg-5 col-md-5 col-sm-10 border rounded">
                    <table id="table">
                        <br>
                        {{ form.media }}
                        {% if form.errors %}
                          <p class="text-danger">{{ form.errors }}</p>
                        {% endif %}
                        {{ crispy(form) }}
                    </table>
                </div>
                <div id="cart-items" class="container col-lg-6 col-md-6 col-sm-10 border rounded">
                    <table class="table cart-table">
                        <thead class="cart-thead">
                            <tr>
                                <th colspan="4">
                                    {{ _('Your items') }}
                                </th>
                            </tr>
                        </thead>
                        {% for cart_item in cart_items %}
                            <tr id="product-items">
                                <td>
                                    {% if cart_item.product.image %}<a href="{{ url('product_detail', cart_item.product.slug) }}"><img id="order-product-image" src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.img_alt }}"></a>{% endif %}
                                </td>
                                <td class="text-start">
                                    <a href="{{ url('product_detail', cart_item.product.slug) }}">
                                        {{ cart_item.product.name }}
                                    </a>
                                    <br>
                                    {{ _('Price') }}: {{ cart_item.product.price }}
                                    <br>
                                    <div id="quantity">{{ _('Quantity') }}: {{ cart_item.quantity }} x {{ cart_item.product.name }}</div>
                                </td>
                                <td>
                                    ${{ cart_item.sub_total }}
                                </td>
                                {% if cart_item.product.stock == None or cart_item.quantity < cart_item.product.stock %}
                                    <td>
                                        <a href="{{ url('add_cart', cart_item.product_id) }}" class="add-cart" data-id="{{ cart_item.product.id }}" data-name="{{ cart_item.product.name }}"><i class="material-icons cart-icon">add_shopping_cart</i></a>
                                        <a href="{{ url('cart_remove', cart_item.product_id) }}"><i class="material-icons cart-icon">remove_circle_outline</i></a>
                                        <a href="{{ url('cart_remove_product', cart_item.product_id) }}"><i class="material-icons cart-icon">delete</i></a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{{ url('cart_remove', cart_item.product_id) }}"><i class="material-icons cart-icon">remove_circle_outline</i></a>
                                        <a href="{{ url('cart_remove_product', cart_item.product_id) }}"><i class="material-icons cart-icon">delete</i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="container">
                    <br>
                    <div id="order-footer" class="text-end">
                        {{ _('Total price')}}: <strong>${{ total }}</strong>&nbsp&nbsp&nbsp&nbsp
                        <input id="submit-order" class="btn btn-primary text-black" type="submit" value="{{_('Submit')}}">
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <script src="{{ static ('script/map_size_change.js') }}"></script>
    <script>
        const productItems = document.querySelector('#product-items');

        function addProductToCart(btn) {
            let requestAddCart = new XMLHttpRequest();
            let product = btn.dataset;
            requestAddCart.open("GET", "/cart/" + product['id'] + "/add", true);
            requestAddCart.send(null);
        }

        function runTest(e) {
          fetch("/test", {method: "PUT"})
          .then( res => console.log(res))
          // Response { type: "basic", url: "http://localhost:8000/test", redirected: false, status: 200, ok: true, statusText: "OK", headers: Headers, body: ReadableStream, bodyUsed: false }
          .catch( err => console.log(err))

          e.preventDefault()
        }

        productItems.addEventListener('click', (event) => {
            let target = event.target.parentNode;

            if (target.classList.contains('add-cart')) {
                event.preventDefault()
                addProductToCart(target);
            }
        });
    </script>
{% endblock %}