{% extends 'base.jinja2' %}
{% block title %}{{ _('Cart') }}{% endblock %}

{% block content %}
    {% if not cart_items %}
        <div class="text-center">
            <br>
            <h1 class="text-center product_title">
                {{ _('Your cart is empty') }}
            </h1>
            <br>
            <p class="text-center">
                {{ _('Click') }} <a href="{{ url('home') }}">{{ _('here') }}</a> {{ _('to go back to products')}}
            </p>
        </div>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="container col-lg-5 col-md-5 col-sm-10 border rounded">
                    <table id="table">
                        <br>
                        {{ form.media }}
                        {% if form.errors %}
                          <p class="text-danger">{{ form.errors }}</p>
                        {% endif %}
                        {{ crispy(form) }}
                    </table>
                </div>
                <div class="container col-lg-6 col-md-6 col-sm-10 border rounded" style="padding-bottom: 5px; overflow-y: scroll; height: 700px">
                    <table class="table cart-table">
                        <thead class="cart-thead">
                            <tr>
                                <th colspan="4">
                                    {{ _('Your items') }}
                                </th>
                            </tr>
                        </thead>
                        {% for cart_item in cart_items %}
                            <tr  style="width: auto">
                                <th>
                                    {% if cart_item.product.image %}<td><a href=""><img style="width: 100px" src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.img_alt }}"></a></td>{% endif %}
                                    <td class="text-left">
                                        {{ cart_item.product.name }}
                                        <br>
                                        {{ _('Price') }}: {{ cart_item.product.price }}
                                        <br>
                                        {{ _('Quantity') }}: {{ cart_item.quantity }} x {{ cart_item.product.name }}
                                    </td>
                                    <td>
                                        ${{ cart_item.sub_total }}
                                    </td>
                                    <td>
                                        {% if cart_item.product.stock == None or cart_item.quantity < cart_item.product.stock %}
                                            <td>
                                                <a href="{{ url('add_cart', cart_item.product_id) }}"><i class="material-icons cart-icon">add_shopping_cart</i></a>
                                                <a href="{{ url('cart_remove', cart_item.product_id) }}"><i class="material-icons cart-icon">remove_circle_outline</i></a>
                                                <a href="{{ url('cart_remove_product', cart_item.product_id) }}"><i class="material-icons cart-icon">delete</i></a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="{{ url('cart_remove', cart_item.product_id) }}"><i class="material-icons cart-icon">remove_circle_outline</i></a>
                                                <a href="{{ url('cart_remove_product', cart_item.product_id) }}"><i class="material-icons cart-icon">delete</i></a>
                                            </td>
                                        {% endif %}
                                    </td>
                                </th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="container">
                    <br>
                    <div class="text-end" style="padding-right: 20px">
                        {{ _('Total price')}}: <strong>${{ total }}</strong>&nbsp&nbsp&nbsp&nbsp
                        <input class="btn btn-primary text-black" type="submit" value="{{_('Submit')}}" style="width:150px">
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <script>
        function mapSizeChange() {
            let mapElement = document.querySelector('.map_canvas_wrapper')
            let map = document.getElementById('map_canvas')
            mapElement.style.marginLeft = "0";
            map.style.height = '300px';
        }
        window.onload = mapSizeChange;
    </script>
{% endblock %}