{% extends 'base.jinja2' %}
{% block title %}{{ _('Successful order')}}{% endblock %}

{% block content %}
    <div class="text-center">
        <br>
        <h1 class="text-center product_title">
            {{ _(' Congratulations, you have successfully placed your order, order number') }} {{ order }}.
        </h1>
        <br>
        <p class="text-center">
            {{ _('Click') }} <a href="{{ url('home') }}">here</a> {{ _('to go back to products')}}
        </p>
    </div>
{% endblock %}