[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "==0.8.1"
python-slugify = "*"
django-jinja = "*"
django-crispy-forms = "*"
pillow = "*"
django-utils-six = "*"
django-filter = "*"
django-google-maps = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
