       <!-- Nav bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 40px">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('home') }}">{{_('Shop')}}</a>
            <div class="text-light">|&nbsp&nbsp&nbsp&nbsp</div>
            <a class="navbar-brand" href="{{ url('cart_detail') }}">
                {{_('Shopping Cart')}}
            </a>
            <div class="text-light">|&nbsp&nbsp&nbsp&nbsp</div>
            <a class="navbar-brand" href="{{ url('history_orders') }}">
                {{_('History')}}
            </a>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              </ul>
              <form class="d-flex">
                  {% if request.user.is_authenticated and request.user.is_active %}
                    <div class="dropdown" style="margin-right: 70px">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% if request.user.photo %}{{ request.user.photo.url }}{% else %}{{ static ('media/user_photo/default_user_photo.png') }}{% endif %}" alt="{{ request.user.img_alt }}" width="32" height="32" class="rounded-circle me-2">
                        <strong>{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.email }}{% endif %}</strong>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{{ url('user-change') }}">{{ _('change account') }}</a></li>
                        <li><a class="dropdown-item" href="{{ url('personal-area') }}">{{ _('personal area') }}</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url('logout') }}">{{ _('sign out')}}</a></li>
                      </ul>
                    </div>
                  {% else %}
                      <li><a class="text-white" href="{{ url('login') }}">{{ _('sign in') }}</a></li>
                  {% endif %}
              </form>
            </div>
          </div>
        </nav>
