{% extends 'base.jinja2' %}

{% block title %}{{_('Home')}}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="container col-3 border rounded">
            <div class="text-center">{{ _('Shops') }}:
                <br>
                {% for shop in shops %}
                    <p>
                        <a class="container border rounded btn btn-link" href="{{ url('home') }}?filter_shop={{ shop.slug }}">
                            {% if shop.image %}
                                <img src="{{ shop.image.url }}" alt="{{ shop.img_alt }}" style="height: 50px; padding: 3px">
                            {% endif %}
                            {{ shop.name }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="container col-8 border rounded" style="padding-bottom: 5px; overflow-y: scroll; height: 500px">
            <br>
            <div class="row justify-content-evenly">
                {% for product in object_list %}
                    <div class="col-lg-5 col-md-5 col-sm-10 p-2">
                        <div class="card h-100">
                          {% if product.image %}
                            <div class="text-center">
                              <a href="{{ url('product_detail', product.slug) }}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.img_alt }}">
                              </a>
                            </div>
                          {% endif %}
                          <div class="card-body">
                            <h5 class="card-title"><a href="{{ url('product_detail', product.slug) }}">{{ product.name }}</a></h5>
                            <p class="card-text">
                                {{ product.description[:150] }}{% if product.description|length > 150 %} ... <a href="{{ url('product_detail', product.slug) }}">{{ _('click to see more') }}</a>{% endif %}
                            </p>
                            <div>{{ _('price') }}: {{ product.price }}$</div>
                            <div>{% if product.stock %}{{ _('stock') }}: {{ product.stock }}{% endif %}</div>
                          </div>
                          <div class="card-footer text-end">
                            {% if product.stock != None and product.stock <= 0 %}
                                <p class="text-justify product_text">{{ _('Out of stock') }}</p>
                            {% else %}
                                <a href="{{ url('add_cart', product.id) }}" class="btn btn-primary text-end">{{ _('Add to cart')}}</a>
                            {% endif %}
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}