<html lang="ru">
    <body>
        <p>{{_('complete the registration by clicking on the link')}}</p>
        <a href="{{ domain }}{{ url('user_activate', uid=uid, token=token) }}">{{ domain }}{{ url('user_activate', uid=uid, token=token) }}</a>
    </body>
</html>