{% extends "base.jinja2" %}

{% block title %}{{_('Password reset')}}{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ _('forgot your password?') }}</h1>
        <p>{{_("Enter your email address below and we'll send you instructions for setting up a new password.")}}</p>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
              <p class="text-danger">{{ form.errors }}</p>
            {% endif %}
            {{ crispy(form) }}
            <input type="submit" class="btn btn-primary" value="{{ _('reset the password')}}" />
        </form>
    </div>
{% endblock %}