.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shop-logo {
  max-width: 90px;
  max-height: 50px;
  padding: 3px;
}

#product-items {
  padding-bottom: 5px;
  overflow-y: scroll;
  height: 500px;
}

#history-items {
  overflow-y: scroll;
  height: 400px;
}

#cart-items {
  padding-bottom: 5px;
  overflow-y: scroll;
  height: 700px;
}

.media {
  margin-bottom: 15px;
}

.padding-form {
  padding-bottom: 30px;
}

.navbar {
  padding: 15px;
}

#cart-item-image {
  width: 50px;
  float: left;
}

#submit-order {
  width:150px;
}

#order-footer {
  padding-right: 20px;
}

#order-product-image {
  width: 100px;
}

.errorlist {
  color: red;
}
