body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shop-logo {
  max-width: 90px;
  max-height: 50px;
  padding: 3px;
}

#product-items {
  padding-bottom: 5px;
  overflow-y: scroll;
  height: 600px;
}

#history-items {
  overflow-y: scroll;
  height: 400px;
}

#cart-items {
  padding-bottom: 5px;
  overflow-y: scroll;
  height: 700px;
}

.media {
  margin-bottom: 15px;
}

.padding-form {
  padding-bottom: 30px;
}

.navbar {
  padding: 15px;
}

#cart-item-image {
  width: 50px;
  float: left;
}

#submit-order {
  width:150px;
}

#order-footer {
  padding-right: 20px;
}

#order-product-image {
  width: 100px;
}

.errorlist {
  color: red;
}

.textError {
  color: red;
}