{% extends "base.jinja2" %}

{% block title %}{{_('Успешная активация')}}{% endblock title %}

{% block content %}

<h1>{{ _('Аккаунт успешно активирован')}}</h1>
<p>{{ _('Теперь вы можете') }}<a href="{{ url('login') }}"> {{ _('войти') }} </a>{{ _('используя свой аккаунт') }}</p>

{% endblock %}