{% extends "base.jinja2" %}

{% block title %}{{_('Изменение аккаунта')}}{% endblock title %}

{% block content %}

<div class="container" style="padding-bottom: 30px">
    {%  if 'accounts/login/' in request.META.HTTP_REFERER %}
        <div>{{ _('Complete information about yourself') }}</div>
    {% else %}
        <div>{{ _('Change information about yourself') }}</div>
    {% endif %}
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p() }}
        </table>
        <input class="btn btn-primary" type="submit" value="{{ _('Submit') }}" />
    </form>
</div>

{% endblock %}