{% extends "base.jinja2" %}

{% block title %}{{_('Подтвердите email')}}{% endblock title %}

{% block content %}
            <p>{{_('Вы успешно зарегистрировались, Вам отправлено письмо для активации аккаунта, после активации вы можете
                    авторизоваться со своим новым аккаунтом')}}</p>
{% endblock content %}