{% extends "base.jinja2" %}

{% block title %}{{_('Confirm email')}}{% endblock title %}

{% block content %}
            <p>{{_('You have successfully registered, an email has been sent to you to activate your account, after activation you can log in with your new account')}}</p>
{% endblock content %}