{% extends "base.jinja2" %}

{% block title %}{{_('Сброс пароля')}}{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ _('забыли пароль?') }}</h1>
        <p>{{_('Введите свой адрес электронной почты ниже, и мы вышлем инструкции по настройке нового адреса.')}}</p>

        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %} {{ form.errors }} {% endif %}
                <p>{{ form.as_p() }}</p>
            <input type="submit" class="btn btn-primary" value="{{ _('сбросить пароль')}}" />
        </form>
    </div>
{% endblock %}