{% extends "base.jinja2" %}

{% block title %}{{_('Successful password change')}}{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ _('Password changed successfully')}}</h1>
        <p><a href="{{ url('login') }}">{{ _('login?') }}</a></p>
    </div>
{% endblock %}