{% extends "base.jinja2" %}

{% block title %}{{_('Password reset confirmation')}}{% endblock title %}

{% block content %}
    <div class="container">
        <p>{{ _("We have sent you instructions on how to set a password via email. If they haven't arrived after a few minutes, check your spam folder.") }}</p>
    </div>
{% endblock %}