{% extends "base.jinja2" %}

{% block title %}{{_('Успешное изменение пароля')}}{% endblock title %}

{% block content %}

<h1>{{ _('Пароль успешно изменен')}}</h1>
<p><a href="{{ url('login') }}">{{ _('авторизоваться?') }}</a></p>

{% endblock %}