{% extends "base.jinja2" %}

{% block title %}{{_('Изменение пароля')}}{% endblock title %}

{% block content %}

<div class="container" style="padding-bottom: 30px">
    <form action="" method="post">
        {% csrf_token %}
    <table>
        {% for row in form %}
            <tr>
               <td>{{ row.label }}:</td>
               {% if form.old_password == row %}
                   <td><label><input id="password-input" type="password" name="old_password" autocomplete="current-password"></label></td>
                   <td><label><input type="checkbox" class="password-checkbox"> {{ _('показать пароль')}}</label></td>
               {% elif form.new_password1 == row %}
                   <td><input id="register-password1-input" type="password" name="new_password1" autocomplete="new-password"></td>
                   <td><label><input type="checkbox" class="register-password1-checkbox"> {{ _('показать пароль')}}</label></td>
               {% elif form.new_password2 == row %}
                   <td><input id="register-password2-input" type="password" name="new_password2" autocomplete="new-password"></td>
                   <td><label><input type="checkbox" class="register-password2-checkbox"> {{ _('показать пароль')}}</label></td>
               {% endif %}
               <td>{{ row.errors }}</td>
            </tr>
            {{ row.help_text|safe }}
       {% endfor %}
    </table>
        <input class="btn btn-primary" type="submit" value="{{ _('Submit') }}" />
    </form>
</div>


{#<!-- Modal -->#}
{#<div class="modal fade" id="PasswordSuccessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLabel">You have used the password change form</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        Your password has been successfully changed#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#      </div>#}
{#        <script>#}
{#            setTimeout(() => window.open('accounts/profile/'), 3000);#}
{#        </script>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="{{ static ('script/script.js') }}"></script>

{#<script type="text/javascript">#}
{#    $(window).on('load',function(){#}
{#    $('#PasswordSuccessModal').modal('show');#}
{#    });#}
{#</script>#}
{% endblock %}