{% extends "base.jinja2" %}

{% block title %}{{_('Password change')}}{% endblock title %}

{% block content %}
    <div class="container padding-form">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {% if form.errors %}
                  <p class="text-danger">{{ form.errors }}</p>
                {% endif %}
                {{ crispy(form) }}
            </table>
            <br>
            <input class="btn btn-primary" type="submit" value="{{ _('Submit') }}" />
        </form>
    </div>
    <script src="{{ static ('script/password_open.js') }}"></script>
{% endblock %}